
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>InviteFriend</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../templates/CSSfiles/invitefriend.css">
</head>
<body>
  <div class="container">
    <img class="background-image" src="https://placehold.co/849x792" />
    
    <div class="title">
      <span class="title-invite">Invite</span>
      <span class="title-friend">Your Friend</span>
    </div>
    
    <div class="input-container">
      <input type="text" class="input-field" placeholder="Name or Email">
    </div>
    
    <button class="add-button">
      <span class="add-text">Add</span>
    </button>
  </div>
</body>
</html>