
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MyProfile</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../templates/CSSfiles/myprofile.css">
</head>
<body>
  <div class="container">
    <div class="main-background"></div>
    <img class="background-image" src="https://placehold.co/849x792" />
    
    <div class="title">My Profile</div>
    
    <div class="profile-pic-container">
      <img class="profile-pic" src="https://placehold.co/259x259" />
    </div>
    
    <div class="field-label nickname-label">Nickname</div>
    <div class="field-value nickname-value">Azim</div>
    
    <div class="field-label name-label">Name</div>
    <div class="field-value name-value">Azim Vaahunov</div>
    
    <div class="field-label password-label">Password</div>
    <div class="field-value password-value">theBestPassword</div>
    
    <div class="field-label dob-label">Date of Birth</div>
    <div class="field-value dob-value">13.03.2007 (18 y.o.)</div>
    
    <div class="field-label bio-label">Bio</div>
    <div class="field-value bio-value">Available</div>
    
    <div class="field-label email-label">email@</div>
    <div class="field-value email-value">Azimus2004@gmail.com</div>
    
    <button class="change-button">Change?</button>
  </div>
</body>
</html>